[defaults]
inventory = inventory.ini
deprecation_warnings = False
# Use the default callback and configure it for YAML output
stdout_callback = default
bin_ansible_callbacks = True
roles_path = ./roles
interpreter_python = auto_silent
nocows = 1

[callback_default]
result_format = yaml
